{% load static %}
<script src="{% static 'css/dist/js/jquery-3.5.1.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'css/dist/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'css/dist/js/scripts.js' %}"></script>
<script src="{% static 'css/dist/js/Chart.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'css/dist/assets/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'css/dist/assets/demo/chart-bar-demo.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="{% static 'css/dist/js/dataTables.bootstrap4.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'css/dist/assets/demo/datatables-demo.js' %}"></script>
</body>
</html>