{% include "home/header.html" %}
{% include "home/sidebar.html" %}
{% include "home/footer.html" %}
{% load static %}
  <body>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Data Mahasiswa </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                      <a type="submit" href="/mahasiswa/new"><button class="btn btn-primary">Tambah</button></a>
                          <div class="card-body">
                      <table id="example1" class="table table-bordered table-striped">
                        <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nama Mahasiswa</th>
                        <th scope="col">NIM</th>
                        <th scope="col">Status</th>
                        <th scope="col">No.Telp</th>
                        <th scope="col">Alamat</th>
                        <th scope="col">Action</th>
                      </tr>
                        </thead>
                      <tr>
                          {% for d in data %}
                      </tr>
                      <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{d.nama}}</td>
                        <td>{{d.nim}}</td>
                        <td>{{d.status}}</td>
                        <td>{{d.telp}}</td>
                        <td>{{d.alamat}}</td>
                        <td>
                            <a class="btn btn-sm btn-success" href="/mahasiswa/{{d.id}}">Detail</a>
                            <a class="btn btn-sm btn-warning" href="/mahasiswa/{{d.id}}/update">Update</a>
                            <a class="btn btn-sm btn-danger" href="/mahasiswa/{{d.id}}/delete">Delete</a>
                        </td>
                      </tr>
                      {% endfor %}
                  </table>
                </div>
                </div>
                </div>
              </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <!-- jQuery -->
</body>
</html>