{% include "home/header.html" %}
{% include "home/sidebar.html" %}
{% include "home/footer.html" %}
{% load static %}
  <body>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">DataTable Book</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                      <a type="submit" href="/task/new"><button class="btn btn-primary">Tambah</button></a>
                    <div class="card-body">
                      <table id="example1" class="table table-bordered table-striped">
                        <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Penulis</th>
                        <th scope="col">Judul Buku</th>
                        <th scope="col">Penerbit</th>
                        <th scope="col">ISBN</th>
                        <th scope="col">Deskripsi</th>
                        <th scope="col">Action</th>
                      </tr>
                        </thead>
                      <tr>
                          {% for d in data %}
                      </tr>
                      <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{d.penulis}}</td>
                        <td>{{d.judul}}</td>
                        <td>{{d.pnb}}</td>
                        <td>{{d.isbn}}</td>
                        <td>{{d.desc}}</td>
                        <td>
                            <a class="btn btn-sm btn-success" href="/task/{{d.id}}">Detail</a>
                            <a class="btn btn-sm btn-warning" href="/task/{{d.id}}/update">Update</a>
                            <a class="btn btn-sm btn-danger" href="/task/{{d.id}}/delete">Delete</a>
                        </td>
                      </tr>
                      {% endfor %}
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>