{% include "home/header.html" %}
{% include "home/sidebar.html" %}
{% include "home/footer.html" %}
{% include "home/navbar.html" %}
{% load static %}
    <div id="layoutSidenav_content">
      <main>
          <div class="container-fluid">
              <h1 class="mt-4">Pendaftaran PKL</h1>
              <ol class="breadcrumb mb-4">
                  <li class="breadcrumb-item active">Formulir Pendaftaran PKL</li>
              </ol>
              <div class="row">
                <div class="col-md-10">
                  <div class="card-body">
                    <a type="submit" href="/mahasiswa/input"><button class="btn btn-primary">Tambah</button></a>
                      <div class="table-responsive">
                          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                              <thead>
                                <tr>
                                  <th>No</th>
                                  <th>Judul</th>
                                  <th>Nama Mitra</th>
                                  <th>Alamat</th>
                                  <th>Deskripsi</th>
                                  <th>No Telpon</th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                                {% for d in data %}
                                <tr>
                                  <td>{{forloop.counter}}</td>
                                  <td>{{d.judul}}</td>
                                  <td>{{d.nama}}</td>
                                  <td>{{d.alamat}}</td>
                                  <td>{{d.deskripsi}}</td>
                                  <td>{{d.telp}}</td>
                                  <td>   
                                    <a type="button" class="btn btn-success" href="/mahasiswa/{{d.id}}" >Detail</a>
                                    <a type="button" class="btn btn-warning" href="/mahasiswa/{{d.id}}/update">Edit</a>
                                    <a type="button" class="btn btn-danger" href="/mahasiswa/{{d.id}}/delete">Hapus</a>
                                  </td>
                                </tr>
                                {% endfor %}
                              </table>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </main>
          </div>
     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>